*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.main{
  height: 100vh;
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.nav{
  height: 100px;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav img{
  height: 60px;
  width: 100%;
}

.nav-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-2 ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-2 ul li{
  margin: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-3-search i{
  background-color: rgb(223, 223, 223);;
  font-size: 30px;
  padding: 5px;
}

.nav-3-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-3-text input{
  height: 40px;
  width: 280px;
  background-color: rgb(223, 223, 223);
  border: none;
}

.nav-4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-4-profile{
  margin: 10px;
  font-size: 20px;  
}

.nav-4-img{
  display: flex;
  justify-content: center;
}

.banner img{
  width: 100%;
}